<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UFT-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Total Eye Diseases By Gender</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <!-- Start of navbar -->
  <!--The Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white">
    <div class="container-fluid">
      <button class="navbar-toggler active" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex bd-highlight mb-3"></div>
        <div class="me-auto p-2 bd-highlight"><a class="navbar-brand" href="./index.html">
            <img class="navimg"
              src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/75306/eye-clipart-md.png" alt="Eye"
              width="30" height="30"> Blind</a>
        </div>
        <div class="p-2 bd-highlight">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Graphs
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="./gender.html">Total Eye Diseases by Gender</a></li>
                <li><a class="dropdown-item" href="./condition.html">Eye Diseases</a></li>
                <li><a class="dropdown-item" href="./Left_Right.html">Eye Disease by Side</a></li>
                <li><a class="dropdown-item" href="./Gender_Disease.html">Eye Disease by Condition and Gender</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="./comparison.html">Comparison</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="./table.html">Data</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <section class="row">
      <div class="col-lg-7 col-md-12">
        <div class="description-content">
          <h1 class="description-header">Total Eye Diseases By Gender</h1>
          <hr>
          <!-- <img src="Resources/assets/images/Fig3.png" alt="Latitude vs. Cloudiness"> -->
          <p>The distribution of eye diseases among the gender binary is fairly equal, however,
            diseases occurring amongst males is slightly more prevalent. </p>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12  col-md-9">
      <div id="pie">
        <!-- We append our chart here. -->
      </div>
    </div>
  </div>

</body>
<!-- Footer-->
<div id="footer">
  <p>The Coding Boot Camp&copy;2021</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
crossorigin="anonymous"></script>

<script type="text/javascript" src="static/js/app.js"></script>

</html>